<mat-card *ngIf="email; else invalid" class="confirm-container">
    <h2>{{'general.reset_pw_for'|translate}} {{ email }}</h2>
    <form (ngSubmit)="onConfirm()" #f="ngForm" class="confirm-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{'general.new_password'|translate}}</mat-label>
        <input
          matInput
          type="password"
          name="newPwd"
          required
          minlength="6"
          [(ngModel)]="newPassword"
          #newPwdModel="ngModel"
        />
        <mat-error *ngIf="newPwdModel.errors?.['required']">
          {{'general.pw_required'|translate}}
        </mat-error>
        <mat-error *ngIf="newPwdModel.errors?.['minlength']">
          {{'general.pw_min'|translate}}
        </mat-error>
        <mat-error *ngIf="newPwdModel.errors?.['maxlength']">
          {{'general.pw_max'|translate}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
        {{'general.submit'|translate}}
      </button>
    </form>
    <p class="message" *ngIf="message">{{ message }}</p>
  </mat-card>
  <ng-template #invalid>
    <mat-card class="invalid-container">
      <p> {{'general.invalid_link'|translate}}!</p>
    </mat-card>
  </ng-template>