<mat-card class="email-container">
  <h2>{{'email.bulk' | translate}}</h2>
  <form [formGroup]="emailForm" (ngSubmit)="send()" class="email-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{'email.subject' | translate}}</mat-label>
      <input matInput formControlName="subject" />
      <mat-error *ngIf="emailForm.get('subject')?.hasError('required')">
        {{'email.subject_required' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{'email.message' | translate}}</mat-label>
      <textarea matInput formControlName="body" rows="6"></textarea>
      <mat-error *ngIf="emailForm.get('body')?.hasError('required')">
        {{'email.message_required' | translate}}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="emailForm.invalid"
    >
      {{'email.send_to_all' | translate}}
    </button>
  </form>
</mat-card>
