.back-button  {
  width: 100%;
  color: #ff0000; 
}

.detail-card {
  max-width: 700px;
  margin: 80px auto 2rem; /* account for toolbar height */
  padding-bottom: 1rem;
}

.detail-image {
   
  width: 100%;
  margin: 1rem 0;
  object-fit: contain;
}

mat-card-content p {
  margin: 1rem 0;
  line-height: 1.6;
}
