<div class="scene-container">
  <div class="stats-bar">
    <div class="stat-item">
      <div class="stat-value">{{ health }}</div>
      <div class="stat-label">{{'char.health'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ stamina }}</div>
      <div class="stat-label">{{'char.stamina'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ magicka }}</div>
      <div class="stat-label">{{'char.magicka'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ armor }}</div>
      <div class="stat-label">{{'char.armor'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ spellresistence }}</div>
      <div class="stat-label">{{'char.spell_resistance'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ weaponresistence }}</div>
      <div class="stat-label">{{'char.weapon_resistance'|translate}}</div>
    </div>
    <div class="stat-item">
      <div class="stat-value">{{ damage }}</div>
      <div class="stat-label">{{'char.damage'|translate}}</div>
    </div>
  </div>

  <!-- Three.js view -->
  <app-experience></app-experience>

  <div class="picker-panel ">    
    <button
      mat-raised-button
      *ngFor="let slot of slots"
      (click)="openPicker(slot)"
      matTooltip="Select {{ slot | titlecase }}"
      matTooltipPosition="above"
      matTooltipHideDelay="200"
    > 
    <img
      src="/icons/{{slot}}_icon.png"
      alt="{{slot}} icon"
      width="64"
      height="64"
    />
    </button>
  </div>
</div> 
