<h1 mat-dialog-title>{{'forum.post_edit'|translate}}</h1>

<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>{{'forum.title'|translate}}</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>{{'forum.content'|translate}}</mat-label>
    <textarea matInput rows="6" formControlName="content"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">{{'general.cancel'|translate}}</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="form.invalid"
  >
  {{'general.save'|translate}}
  </button>
</div>