<mat-sidenav-container class="fill">
  <!-- FILTERS -->
  <mat-sidenav
    mode="side"
    [opened]="showFilters"
    class="filters"
    disableClose
    #drawer
  >
    <span>
      <button mat-icon-button class="toggle-btn" (click)="toggleFilters()">
        <mat-icon>
          {{ showFilters ? "chevron_left" : "chevron_right" }}
        </mat-icon>
      </button>
    </span>

    <h3 class="p-2">{{'forum.filters'|translate}}</h3>
    <form [formGroup]="filterForm" class="filter-form">
      <!-- Title -->
      <mat-form-field appearance="fill">
        <mat-label>{{'forum.title'|translate}}</mat-label>
        <input matInput formControlName="titleFilter" />
      </mat-form-field>
      <!-- Order -->
      <mat-form-field appearance="fill">
        <mat-label>{{'forum.orderby'|translate}}</mat-label>
        <mat-select formControlName="dateOrder">
          <mat-option value="desc">{{'forum.new'|translate}}</mat-option>
          <mat-option value="asc">{{'forum.old'|translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Hot first -->
      <mat-slide-toggle formControlName="hotFirst">{{'forum.hot'|translate}}</mat-slide-toggle>
      <br>
      <!-- Hashtags -->       
      <button mat-button type="button" (click)="clearTags()">
        {{'forum.deselect'|translate}}
      </button>
  
      <!-- SCROLLABLE CHIP LIST -->
      <div class="hashtag-scroll">
        <mat-chip-listbox
          aria-label="Tag selection"
          multiple
          formControlName="hashtags"
        >
          <mat-chip-option
            *ngFor="let tag of tags$ | async"
            [value]="tag"
          >
            #{{ tag }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      
      <button mat-raised-button color="primary" (click)="applyFilters()">
        {{'forum.apply'|translate}}
      </button>
    </form>
  </mat-sidenav>

  <!-- POSTS -->
  <mat-sidenav-content class="content">
    <button
      *ngIf="!showFilters"
      mat-icon-button
      class="content-toggle"
      (click)="toggleFilters()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <ng-container *ngIf="posts$ | async as posts; else loading">
    <div *ngIf="!(posts$ | async)?.length" class="no-posts">
      <mat-card class="no-posts-card">
        <mat-card-title>{{'forum.no_posts'|translate}}</mat-card-title>
        <mat-card-content>
          <p>{{'forum.no_post_msg'|translate}}</p>
        </mat-card-content>
      </mat-card>

    </div>
    <h1>{{'forum.forum'|translate}}</h1>
    <div class="view-toggle" >
         <button
           mat-icon-button
           (click)="toggleView('list')"
           [color]="viewMode === 'list' ? 'primary' : undefined"
           matTooltip="{{'forum.list'|translate}}"
         >
           <mat-icon>format_list_bulleted</mat-icon>
         </button>
         <button
           mat-icon-button
           (click)="toggleView('grid')"
           [color]="viewMode === 'grid' ? 'primary' : undefined"
           matTooltip="{{'forum.grid'|translate}}"
         >
           <mat-icon>grid_view</mat-icon>
         </button>
       </div>
    <div class="posts" [ngClass]="viewMode" *ngIf="posts$ | async as posts">
     
      <mat-card
        *ngFor="let post of posts"
        class="post-card"
        [routerLink]="['/forum', post.id]"
      >
        <mat-card-title class="truncate">{{ post.title }}</mat-card-title>
        <mat-card-subtitle class="truncate">
          {{'forum.by'|translate}} {{ post.username }} ·
          {{ post.createdAt | toDate | date : "short" }}
        </mat-card-subtitle>
        <mat-card-content>
          <p class="truncate">{{ post.content }}</p>
          <mat-chip-set class="hashtags" *ngIf="post.hashtags?.length">
            <mat-chip *ngFor="let tag of post.hashtags"> #{{ tag }} </mat-chip>
          </mat-chip-set>
        </mat-card-content>
        <mat-card-actions>
          <span>
            <mat-icon
              color="primary"
              matTooltip="{{'forum.comments'|translate}}"
              [matTooltipPosition]="'above'"
              matTooltipHideDelay="100"
              >comment</mat-icon
            >{{ post.commentCount }}
          </span>

          <span class="likeIcon">
            <mat-icon
              color="warn"
              matTooltip="Likes"
              [matTooltipPosition]="'above'"
              matTooltipHideDelay="100"
              >favorite</mat-icon
            >
            {{ post.likeCount }}
          </span>

        </mat-card-actions>
      </mat-card>
    </div>

    <!-- FAB visible only if logged in -->
    @if (auth.fbUser$|async) {
    <button
      mat-fab
      color="accent"
      aria-label="New post"
      class="fab"
      routerLink="/forum/post-create"
      matTooltip="{{'forum.new_post'|translate}}"
      [matTooltipPosition]="'left'"
      matTooltipHideDelay="100"
    >
      <mat-icon>add</mat-icon>
    </button>
    }
  </ng-container>

  <!-- loading spinner -->
  <ng-template #loading>
    <app-loading-indicator></app-loading-indicator>
  </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
