<mat-toolbar color="primary" class="navbar-container">
  <!-- Logo / Home -->
  <button mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
  <!-- Forum -->
  <button mat-button routerLink="/forum">
    <mat-icon>forum</mat-icon> Forum
  </button>
  <button mat-button routerLink="/market" *ngIf="isLoggedIn">
    <mat-icon>storefront</mat-icon> Market
  </button>
  <span class="spacer"></span>
  <!-- Only show our profile menu when logged in -->
  <app-profile-menu *ngIf="isLoggedIn"></app-profile-menu>
  
  <!-- If NOT logged in, show login/register -->
  
  <button mat-button routerLink="/login" *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon> Login
  </button>
  <button mat-button routerLink="/register" *ngIf="!isLoggedIn">
    <mat-icon>person_add</mat-icon> Register
  </button>
</mat-toolbar>
