.navbar-container {
  display: flex;
  align-items: center;
  background-image: url('../../../../public/tbar.png');
  background-size:contain;
  background-repeat: repeat;
  color: gold; 
  .spacer {
    flex: 1 1 auto;
  }
}
span{
  color: gold;
}