<ng-container *ngIf="post$ | async as post">
  <mat-card class="post-card">
    <!-- Title -->
    <mat-card-title>{{ post.title }}</mat-card-title>
    <!-- Meta: author  dates -->
    <mat-card-subtitle>
      by {{ post.username }} • {{ post.createdAt | toDate | date : "short" }}
      @if (post.isEdited) {
      <ng-container>
        • (edited: {{ post.updatedAt | toDate | date : "short" }})
      </ng-container>
      }
    </mat-card-subtitle>

    <!-- Content -->
    <mat-card-content>
      <p class="post-content">
        <ng-container *ngFor="let t of contentTokens">
          <ng-container *ngIf="t.type === 'text'">
            {{ t.value }}
          </ng-container>
          <ng-container *ngIf="t.type === 'commodity'">
            <a class="commodity-link" [href]="[t.link]"> ${{ t.value }} </a>
          </ng-container>
        </ng-container>
      </p>
    </mat-card-content>

    <!-- Linked pictures -->
    <div class="pictures" *ngIf="post.linkedPictures?.length">
      <div class="picture-wrapper" *ngFor="let url of post.linkedPictures">
        <img
          [src]="url"
          (load)="onImageLoad(url)"
          class="linked-pic"
          [class.hidden]="!loadedMap[url]"
          alt="Post image"
        />

        <!-- Spinner on top until the image has loaded -->
        <div *ngIf="!loadedMap[url]" class="overlay-spinner">
          <app-loading-indicator></app-loading-indicator>
        </div>
      </div>
    </div>
    <br />
    <div>
      <mat-chip-set class="hashtags" *ngIf="post.hashtags?.length">
        <mat-chip *ngFor="let tag of post.hashtags"> #{{ tag }} </mat-chip>
      </mat-chip-set>
    </div>
    <!-- Actions -->
    <mat-card-actions>
      @if (currentUserId$ ) {
      <button
        mat-button
        [disabled]="post.isLocked"
        color="warn"
        matTooltip="Toggles the like on this post."
        [matTooltipPosition]="'above'"
        matTooltipHideDelay="200"
        (click)="toggleLike()"
      >
        {{ post.likeCount }}
        <mat-icon>{{
          (isLiked$ | async) ? "favorite" : "favorite_border"
        }}</mat-icon>
      </button>
      <button
        mat-button
        [disabled]="post.isLocked"
        (click)="openComment()"
        color="primary"
      >
        Comment
      </button>
      }@else {
      <button
        mat-button
        color="warn"
        matTooltip="Number of likes on this post."
        [matTooltipPosition]="'above'"
        matTooltipHideDelay="200"
      >
        {{ post.likeCount }}
        <mat-icon> favorite </mat-icon>
      </button>
      }
      <button
        mat-button
        [disabled]="post.isLocked"
        (click)="share()"
        color="accent"
      >
        Share
      </button>
      @if (currentUserId$ && post.authorId == currentUserId$?.uid) {
      <button
        mat-button
        [disabled]="post.isLocked"
        (click)="openEditPost(post)"
      >
        Edit
      </button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        Delete
      </button>
      }
      @if (isAdmin) {
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        Delete
      </button>
      <button mat-button color="warn" (click)="onToggleLockPost(post.id)">
        <mat-icon color="warn">{{ isLocked ? "lock_open" : "lock" }}</mat-icon
        >{{ isLocked ? "Unlock Post" : "Lock Post" }}
      </button>
      }
    </mat-card-actions>
  </mat-card>
  <!-- Comments List -->
  <div class="comments" *ngIf="comments$ | async as comments">
    <mat-card class="comment" *ngFor="let c of comments">
      <mat-card-subtitle>
        {{ c.username }} {{ c.createdAt | toDate | date : "short" }}
        <button
          *ngIf="currentUserId === c.authorId"
          mat-icon-button
          color="warn"
          (click)="onDeleteComment(c.id)"
          matTooltip="Delete comment"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-content>{{ c.content }}</mat-card-content>
    </mat-card>
  </div>
</ng-container>
