<form [formGroup]="form" (ngSubmit)="savePost()" class="form">
  <h2>{{'forum.new_post'|translate}}</h2>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>{{'forum.title'|translate}}</mat-label>
    <input matInput formControlName="title" />
    @if (form.get('title')?.hasError('required')) {
    <mat-error>{{'forum.title_required'|translate}}!</mat-error>
    } @if (form.get('title')?.hasError('minlength')) {
    <mat-error> {{'forum.title_min'|translate}}!</mat-error>
    } @if (form.get('title')?.hasError('maxlength')) {
    <mat-error> {{'forum.title_max'|translate}}!</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>{{'forum.content'|translate}}</mat-label>
    <textarea
      matInput rows="5"
      formControlName="content" 
    ></textarea>
    @if (form.get('content')?.hasError('required')) {
      <mat-error>{{'forum.content_required'|translate}}!</mat-error>
      } @if (form.get('content')?.hasError('minlength')) {
      <mat-error> {{'forum.content_min'|translate}}!</mat-error>
      } @if (form.get('content')?.hasError('maxlength')) {
      <mat-error> {{'forum.content_max'|translate}}!</mat-error>
      }
  </mat-form-field> 
  






    
   
  
  <br><br>
  <!-- Hashtag picker -->
  <mat-label matTooltip="{{'forum.tag_tip'|translate}}" [matTooltipPosition]="'above'"
  matTooltipHideDelay="100" class="tagsTip">{{'forum.tags'|translate}}:</mat-label><br><br>
  <mat-chip-listbox aria-label="Tag selection" multiple>
    <mat-chip-option
      *ngFor="let tag of tags$ | async"
      [value]="tag"
      [selected]="form.value.hashtags?.includes(tag)"
      (selectionChange)="toggleTag(tag)"
      [disabled]="
      !(form.value.hashtags?.includes(tag))
      && (form.value.hashtags?.length ?? 0) >= maxTags
    "
    >
      {{ tag }}
    </mat-chip-option>
  </mat-chip-listbox>

  <br />
  <br />
  <!-- image picker -->
  <input
    type="file"
    accept="image/png,image/jpeg"
    multiple
    hidden
    #fileInput
    (change)="onFileSelect($event)"
  />
  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="fileInput.click()"
    [disabled]="files.length >= 10"
  >
    <mat-icon>photo_camera</mat-icon>{{'forum.add_images'|translate}} ({{ files.length }}/10)
  </button>

  <!-- thumbnails -->
  <div class="thumbs">
    <mat-card *ngFor="let p of previews; index as i" class="thumb">
      <img [src]="p" />
      <button mat-icon-button class="remove" (click)="remove(i)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card>
  </div>

  <!-- progress -->
  <mat-progress-bar
    *ngIf="uploading"
    mode="determinate"
    [value]="uploadProgress"
  ></mat-progress-bar>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid || uploading"
  >
  {{'forum.publish'|translate}}
  </button>
</form>