<mat-card class="login-container">
  <h2> {{'login.title'|translate}}</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label> {{'general.email'|translate}}</mat-label>
      <input matInput type="email" required [(ngModel)]="email" name="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> {{'login.password'|translate}}</mat-label>
      <input
        matInput
        type="password"
        required
        [(ngModel)]="password"
        name="password"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
    {{'login.title'|translate}}
    </button>
  </form>
  <br>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="onGoogleSignIn()"
  >
  {{'login.google_signin'|translate}}
  </button>
  <br>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="onResetPassword()"
  >
  {{'login.forgot_password'|translate}}
  </button>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</mat-card>
