.page-not-found-container {  
  align-items: center;
  justify-content: center; 
  margin: 0;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  margin-top: 20px;
}
.page-not-found-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 200px; 
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin:0 auto; 
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}