<div>
    @for (item of (articles$ | async); track $index) {
        <div>
            <h2>{{ item.title }}</h2>
            <p>{{ item?.author || item?.authors }}</p>
            <p>{{ item.text }}</p>
        </div>
    }
    <input type="text" #search placeholder="Search articles..." />
    <button mat-raised-button color="accent" (click)="readDocSnapshot()">Read snapshot doc</button>
    <button mat-raised-button color="warn" (click)="readCollection()">Read nested collection</button>
    <button mat-raised-button color="warn" (click)="readCollectionGroup()">Read comments collectiongroup</button>
</div>
