<mat-card class="market-filters">   
  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="filter-row">
      <mat-form-field appearance="fill">
        <mat-label>{{'market.name'|translate}}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'market.minP'|translate}}</mat-label>
        <input matInput type="number" formControlName="minPrice" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'market.maxP'|translate}}</mat-label>
        <input matInput type="number" formControlName="maxPrice" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'market.minV'|translate}}</mat-label>
        <input matInput type="number" formControlName="minVolume" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'market.maxV'|translate}}</mat-label>
        <input matInput type="number" formControlName="maxVolume" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'market.count'|translate}}</mat-label>
        <mat-select formControlName="limit">
          <mat-option *ngFor="let opt of resultsOptions" [value]="opt">{{
            opt
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">{{'market.filter'|translate}}</button>
    </div>
  </form>
</mat-card>

<div class="commodity-grid">
  <app-commodity
    *ngFor="let c of commodities$ | async"
    [commodity]="c"
  ></app-commodity>
</div>
