<div class="sheet">
    <h3>{{'forum.new_comment'|translate}}</h3>
    <textarea
      matInput
      placeholder="{{'forum.comment_placeholder'|translate}}"
      [formControl]="form.controls.content"
      rows="4"
    ></textarea>
  
    <div class="actions">
      <button mat-button (click)="cancel()">{{'general.cancel'|translate}}</button>
      <button
        mat-raised-button
        color="primary"
        (click)="post()"
        [disabled]="form.invalid"
      >
      {{'forum.post'|translate}}
      </button>
    </div>
  </div>
  