<ng-container *ngIf="user$ | async as user">
  <div class="profile-menu">
    <button
      mat-icon-button
      routerLink="/profile"
      aria-label="Profile"
      matBadge="{{ unreadCount$ | async }}"
      matBadgeHidden="{{ !(unreadCount$ | async) }}"
      matBadgeOverlap="true"
      matBadgePosition="below after"
      matBadgeSize="small"
      matTooltip="{{ user.username }}"
      [matTooltipPosition]="'above'"
      matTooltipHideDelay="200"
      (click)="goToProfile()"
    >
      <img
        [src]="user.photoURL"
        alt="Profile"
        class="avatar"
        (click)="goToProfile()"
      />
    </button>
  </div>
</ng-container>
