.commodity-popup{
    background-color: rgb(157, 203, 233);
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size:  small;
    margin: 0px;
}
.chart{
    background-color: wheat;
    padding: 5px;
    border-radius: 10px;
}
.compact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}