<mat-card class="reset-password-container">
    <h2>{{'general.reset_password'|translate}}</h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="reset-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{'general.email'|translate}}</mat-label>
        <input
          matInput
          type="email"
          name="email"
          required
          email
          [(ngModel)]="email"
          #emailModel="ngModel"
        />
        <mat-error *ngIf="emailModel.errors?.['required']">
          {{'general.email_required'|translate}}
        </mat-error>
        <mat-error *ngIf="emailModel.errors?.['email']">
          {{'general.email_invalid'|translate}}
        </mat-error>
      </mat-form-field>
  
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="f.invalid"
      >
      {{'general.reset_link'|translate}}
      </button>
  
      <p class="message" *ngIf="message">{{ message }}</p>
    </form>
  </mat-card>
  